# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# zip
angular-material-admin-master.zip
berry-free-angular-admin-template-v4.1.0.zip

angular-monorepo-workspace/node_modules
angular-monorepo-workspace/.angular
angular-monorepo-workspace/dist
angular-monorepo-workspace/.editorconfig

expense-mgmt-backend/auth-server-exp/logs
../../.DS_Store
expense-mgmt-backend/expense.manager/logs