
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


// styles.scss
$primary-color: #5A67D8; // Example primary color
$secondary-color: #3182CE;
$background-color: #F7FAFC;
$text-color: #2D3748;

body {
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
  color: $text-color;
}

.auth-container {
  max-width: 400px;
  margin: 5% auto;
  padding: 2rem;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
